In [1]:
import pandas as pd

# 훈련용 데이터 부터, 메모리에 올려보기, 확인.
nsmc_train_df = pd.read_csv("./ratings_train.txt", encoding="utf-8", sep="\t", engine="python")
nsmc_train_df.head()

         id                                           document  label
0   9976970                                아 더빙.. 진짜 짜증나네요 목소리      0
1   3819312                  흠...포스터보고 초딩영화줄....오버연기조차 가볍지 않구나      1
2  10265843                                  너무재밓었다그래서보는것을추천한다      0
3   9045019                      교도소 이야기구먼 ..솔직히 재미는 없다..평점 조정      0
4   6483659  사이몬페그의 익살스런 연기가 돋보였던 영화!스파이더맨에서 늙어보이기만 했던 커스틴 ...      1

In [2]:
# 샘플 데이터 기본 분석
nsmc_train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        150000 non-null  int64
 1   document  149995 non-null  object
 2   label     150000 non-null  int64
dtypes: int64(2), object(1)
memory usage: 3.4+ MB

In [3]:
# null 값 제거 -> document 컬럼 5개 존재함
nsmc_train_df = nsmc_train_df[nsmc_train_df["document"].notnull()]

# 샘플 데이터 기본 분석
nsmc_train_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 149995 entries, 0 to 149999
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        149995 non-null  int64
 1   document  149995 non-null  object
 2   label     149995 non-null  int64
dtypes: int64(2), object(1)
memory usage: 4.6+ MB

In [4]:
# label 에서 1 ~ 10 점 사이의 점수들이고, 이중에서, 5~8점은 제외하고,
# 1~4 점 : 부정 감성으로 -> 0
# 9~10 점 : 긍정 감성으로 -> 1
# 각 긍정 및 부정의 label 컬럼의 갯수 파악
nsmc_train_df["label"].value_counts()

label
0    75170
1    74825
Name: count, dtype: int64

In [5]:
import re
# re (regex 정규식) 이용해서, 한글만 남기기.
nsmc_train_df["document"]= nsmc_train_df["document"].apply(lambda x: re.sub(r'[^ ㄱ - | 가-힣]+'," ",x))

# 5개만 조회 하기.
nsmc_train_df.head()

         id                                           document  label
0   9976970                                 아 더빙  진짜 짜증나네요 목소리      0
1   3819312                       흠 포스터보고 초딩영화줄 오버연기조차 가볍지 않구나      1
2  10265843                                  너무재밓었다그래서보는것을추천한다      0
3   9045019                        교도소 이야기구먼  솔직히 재미는 없다 평점 조정      0
4   6483659  사이몬페그의 익살스런 연기가 돋보였던 영화 스파이더맨에서 늙어보이기만 했던 커스틴 ...      1

In [6]:
# 평가용 데이터 기본 전처리 작업, 한글만 남기기 작업.
nsmc_test_df= pd.read_csv("./ratings_test.txt", encoding="utf-8", sep="\t", engine="python")

nsmc_test_df.head()

        id                                           document  label
0  6270596                                                굳 ㅋ      1
1  9274899                               GDNTOPCLASSINTHECLUB      0
2  8544678             뭐야 이 평점들은.... 나쁘진 않지만 10점 짜리는 더더욱 아니잖아      0
3  6825595                   지루하지는 않은데 완전 막장임... 돈주고 보기에는....      0
4  6723715  3D만 아니었어도 별 다섯 개 줬을텐데.. 왜 3D로 나와서 제 심기를 불편하게 하죠??      0

In [7]:
# null check
nsmc_test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        50000 non-null  int64
 1   document  49997 non-null  object
 2   label     50000 non-null  int64
dtypes: int64(2), object(1)
memory usage: 1.1+ MB

In [8]:
# null 값 제거 -> document 컬럼 5개 존재함
nsmc_test_df = nsmc_test_df[nsmc_test_df["document"].notnull()]

# 샘플 데이터 기본 분석
nsmc_test_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 49997 entries, 0 to 49999
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        49997 non-null  int64
 1   document  49997 non-null  object
 2   label     49997 non-null  int64
dtypes: int64(2), object(1)
memory usage: 1.5+ MB

In [9]:
import re
# re (regex 정규식) 이용해서, 한글만 남기기.
nsmc_test_df["document"]= nsmc_test_df["document"].apply(lambda x: re.sub(r'[^ ㄱ - | 가-힣]+'," ",x))

# 5개만 조회 하기.
nsmc_test_df.head()

        id                                       document  label
0  6270596                                            굳        1
1  9274899                                                     0
2  8544678             뭐야 이 평점들은  나쁘진 않지만  점 짜리는 더더욱 아니잖아      0
3  6825595                    지루하지는 않은데 완전 막장임  돈주고 보기에는       0
4  6723715   만 아니었어도 별 다섯 개 줬을텐데  왜  로 나와서 제 심기를 불편하게 하죠       0

In [10]:
# label 에서 1 ~ 10 점 사이의 점수들이고, 이중에서, 5~8점은 제외하고,
# 1~4 점 : 부정 감성으로 -> 0
# 9~10 점 : 긍정 감성으로 -> 1
# 각 긍정 및 부정의 label 컬럼의 갯수 파악
nsmc_test_df["label"].value_counts()

label
1    25171
0    24826
Name: count, dtype: int64

In [12]:
import pickle
# 특성화 벡터 작업 -> 머신러닝 일하기 쉬운 환경을 구축.
# 시간이 오래 걸림. 약 10분
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf_model_save_path = "./tfidf_model.pkl"

# 5. 저장된 TF-IDF 모델 불러오기
with open(tfidf_model_save_path, "rb") as file:
    tfidf = pickle.load(file)

print("✅ TF-IDF 모델 불러오기 완료")

✅ TF-IDF 모델 불러오기 완료

In [13]:
import pickle

# 최적의 모델 저장 경로 설정
model_save_path = "./SA_lr_best.pkl"

# 저장된 모델 불러오기
with open(model_save_path, "rb") as file:
    SA_lr_best = pickle.load(file)

print("✅ 모델 불러오기 완료")

✅ 모델 불러오기 완료

In [14]:
nsmc_test_tfidf = tfidf.transform(nsmc_test_df["document"])

In [15]:
# 변환된 데이터를 이용해서, 평가하기.
test_predict = SA_lr_best.predict(nsmc_test_tfidf)

In [16]:
# 평가 결과, 정확도로 콘솔에 출력해보기.
from sklearn.metrics import accuracy_score
# nsmc_test_df["label"], -> 답지
# test_predict : 학습된 모델로 예측한 값
print("감성 분석 정확도 : ", round(accuracy_score(nsmc_test_df["label"], test_predict),3))

감성 분석 정확도 :  0.857

In [ ]:
#test

In [20]:
st = input("감성 분석하기위한 문장을 입력 해주세요: ")

In [21]:
st = re.compile(r"[ㄱ - | 가-힣]+").findall(st)
print(st)
st = [" ".join(st)]
print(st)

['오늘 놀러가자']
['오늘 놀러가자']

In [22]:
# 해당 문장을 분석하기 좋게 벡터화 과정.
st_tfidf = tfidf.transform(st)

In [23]:
# 만들어둔 모델을 이용해서, 예측값 구하기(평가)
st_predict = SA_lr_best.predict(st_tfidf)

In [24]:
# 긍정 인지, 부정인지 판별하기.
if(st_predict == 0):
  print(st," -> 부정")
else:
  print(st," -> 긍정")

['오늘 놀러가자']  -> 긍정