## 자동차 연비 분석 , 회귀분석 모델 + 산점도 이용해보기. 
### 자동차 연비 데이터 가져오기. 
### 공식 사이트 : https://archive.ics.uci.edu/
### 검색어 : auto

In [2]:
# auto-mpg.csv 를 읽어서 확인해보기. 
import numpy as np 
import pandas as pd 
# header = 0 -> csv 의 컬럼 -> df 의 컬럼으로 사용. 
data_df = pd.read_csv("./auto-mpg.csv", header = 0 , engine="python")
print(f"data_df 의 크기 : {data_df.shape}")
data_df.head()

data_df 의 크기 : (398, 9)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,orgin,car_name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino